<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/icon.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/icon.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/my.css" | prepend: site.baseurl }}">

  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page.html %}
  <div class="layout">
    {%if site.show_aboutme_card %}
      <section class="card neumorphism-card-big">
        {% include section-aboutme.html %}
      </section>
    {% endif %}
    {%if site.show_skills_card %}
      <section class="card neumorphism-card-big">
        {% include section-skills.html %}
      </section>
    {% endif %}
    {%if site.show_timeline_card %}
      <section class="card neumorphism-card-big">
        {% include section-timeline.html %}
      </section>
    {% endif %}
    {%if site.show_projects_card %}
      <section class="card neumorphism-card-big">
        {% include section-projects.html %}
      </section>
    {% endif %}
    {%if site.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include section-contact.html %}
    </section>
    {% endif %}
    <p style="
        font-size: 0.65rem;
        line-height: 1.8;
        color: #444;
        max-width: 700px;  
        margin: 0 auto; 
        text-align: center; 
      ">于是，我似乎看到多年以后，你站在一扇蓝色的大门前，下午三点的阳光，你仍有几颗青春痘。你笑着，我跑向你问你好不好，你点点头。三年、五年以后，甚至更久更久以后，我们会变成什么样的大人呢？是体育老师，还是我妈。虽然我闭着眼睛，也看不见自己，但是我却可以看到你。</p>
  </div>
  <!-- {% include footer.html %} -->
</body>
</html>
